@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend-exa: "Lexend Exa";
  --font-poppins: Poppins;
  --font-lexend-mega: "Lexend Mega";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-77xl: 96px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-gray-100: #001f2d;
  --color-gray-200: rgba(255, 255, 255, 0.8);
  --color-gray-300: rgba(0, 0, 0, 0.7);
  --color-gray-400: rgba(255, 255, 255, 0.2);
  --color-gray-500: rgba(0, 0, 0, 0.4);
  --color-gray-600: rgba(255, 255, 255, 0.5);
  --color-gray-700: rgba(255, 255, 255, 0.6);
  --color-gray-800: rgba(255, 255, 255, 0.4);
  --color-gray-900: rgba(12, 12, 12, 0.7);
  --color-white: #fff;
  --color-lime: #39f329;
  --color-orangered: #ff5400;
  --color-darkmagenta: #ae29a1;
  --color-gainsboro: rgba(217, 217, 217, 0.2);
  --color-cornflowerblue: #008ee3;
  --color-darkslategray: #002b07;

  /* Gaps */
  --gap-xs-2: 11.2px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-mini: 15px;
  --gap-4xl: 23px;
  --gap-7xs: 6px;
  --gap-10xl-5: 29.5px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-12xs: 1px;
  --padding-mid: 17px;
  --padding-633xl: 652px;
  --padding-144xl: 163px;
  --padding-307xl: 326px;
  --padding-111xl-8: 130.8px;
  --padding-10xs: 3px;
  --padding-5xl: 24px;
  --padding-39xl-8: 58.8px;
  --padding-29xl-8: 48.8px;
  --padding-19xl-8: 38.8px;
  --padding-9xs: 4px;
  --padding-9xs-8: 3.8px;
  --padding-89xl-8: 108.8px;
  --padding-8xs: 5px;
  --padding-27xl: 46px;
  --padding-52xl: 71px;
  --padding-30xl: 49px;
  --padding-33xl: 52px;
  --padding-42xl: 61px;
  --padding-164xl-8: 183.8px;
  --padding-100xl: 119px;
  --padding-19xl: 38px;
  --padding-20xl: 39px;
  --padding-6xl: 25px;
  --padding-5xs: 8px;
  --padding-3xs-8: 9.8px;
  --padding-69xl-8: 88.8px;
  --padding-39xl: 58px;
  --padding-165xl: 184px;
  --padding-lg-8: 18.8px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-13xl: 32px;
  --padding-41xl: 60px;
  --padding-40xl: 59px;
  --padding-18xl: 37px;
  --padding-sm: 14px;
  --padding-14xl: 33px;
  --padding-59xl: 78px;
  --padding-32xl: 51px;
  --padding-771xl-5: 790.5px;
  --padding-81xl: 100px;
  --padding-79xl-5: 98.5px;
  --padding-198xl: 217px;
  --padding-31xl: 50px;
  --padding-8xl: 27px;
  --padding-315xl: 334px;
  --padding-23xl: 42px;
  --padding-503xl: 522px;
  --padding-334xl-4: 353.4px;
  --padding-201xl: 220px;
  --padding-130xl: 149px;
  --padding-320xl: 339px;
  --padding-211xl: 230px;
  --padding-832xl-8: 851.8px;
  --padding-341xl: 360px;
  --padding-535xl: 554px;
  --padding-base-5: 15.5px;
  --padding-10xl: 29px;
  --padding-7xs-5: 5.5px;
  --padding-11xs-5: 1.5px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-97xl-2: 116.2px;
  --br-xl: 20px;
}
